<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
<head>
<meta charset="utf-8" />
<title>Votre Banque</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un compte</div>
				<div class="panel-body">
					<form action="/comptes" method="get">
						<label> Code Compte :</label> <input type=text name=codeCompte
							th:value="${codeCompte}" />
						<button type="submit" class="btn btn-primary">Ok</button>
					</form>
					<div  class="text-danger" th:if="${exception}" th:text="${exception.message}">
					</div>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Information sur compte</div>
				<div class="panel-body">
					<div>
						<label>Client :</label> <label
							th:text="${compte.client.nomClient}"></label>
					</div>
					<div>
						<label>Code :</label> <label th:text="${compte.codeCompte}"></label>
					</div>
					<div>
						<label>Solde :</label> <label th:text="${compte.solde}"></label>
					</div>
					<div>
						<label>Date de création :</label> <label
							th:text="${compte.dateCreation}"></label>
					</div>
					<div>
						<label>Type :</label> <label th:text="${compte.class.simpleName}"></label>
					</div>
					<div th:if="${compte.class.simpleName=='CompteCourant'}"}>
						<label>Devouvert :</label> <label th:text="${compte.decouvert}"></label>
					</div>
					<div th:if="${compte.class.simpleName=='CompteEpargne'}">
						<label>Taux :</label> <label th:text="${compte.taux}"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Operation sur le compte</div>
				<div class="panel-body">
					<form action="/saveOperation" method="post">
						<div>
							<label>Employe</label> <input type="password" name="codeEmploye" />
						</div>
						<div>
							<label>Compte</label> <input type="text" name="codeCompte"
								th:value="${codeCompte}" />
						</div>
						<div>
							<input type="radio" name="typeOperation" value="VERS"
								checked="checked"
								onchange="document.getElementById('forVirement').style.display='none'" />
							<label>Versement</label>
							<input type="radio" name="typeOperation"
								value="RETR"
								onchange="document.getElementById('forVirement').style.display='none'" />
							<label>Retrait</label> <input type="radio" name="typeOperation"
								value="VIR" 
								onchange="document.getElementById('forVirement').style.display='block'"/>
							<label>Virement</label>
						</div>
						<div id="forVirement" style="display:none">
							<label>Vers :</label> <input type="text" name="codeCompte2" />
						</div>
						<div>
							<label>Montant :</label> <input type="text" name="montant" />
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
						<div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}"></div>
					</form>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Liste des operations</div>
				<table class="table table-striped">
					<tr>
						<th>Num</th>
						<th>Type</th>
						<th>Date</th>
						<th>Montant</th>
					</tr>
					<tr th:each="o:${listOperation}">
						<td th:text="${o.numOperation}"></td>
						<td th:text="${o.class.simpleName}"></td>
						<td th:text="${o.dateOperation}"></td>
						<td th:text="${o.montant}"></td>
					</tr>
				</table>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
</body>
</html>